.Pricesummary {
  display: block;
  border: 1px solid #dadad6;
  width: 280px;
  height: 130px;
  float: right;
  margin-right: 100px;
  position: absolute;
  margin-left: 840px;
  border-radius: 4px;
  padding: 3px;
}

.Pricesummaryinnerbox {
  width: 100%;
  height: 30px;
  display: block;
}

.Pricesummaryinnerboxnext {
  width: 100%;
  height: 35px;
  display: flex;

  background: #f8f6f6;
}

.Pricesummaryinnerboxnextnext {
  width: 100%;
  height: 30px;
  display: flex;
}

.Pricesummaryinnerboxnextnextnext {
  width: 100%;
  height: 30px;
  display: flex;
}

.grandtotalbox {
  width: 100%;
  height: 30px;
  display: flex;
}

.Pricesummarysecond {
  display: block;
  border: 1px solid #dadad6;
  width: 280px;
  height: 222px;
  position: absolute;
  float: right;
  margin-top: 160px;
  margin-left: 840px;
  border-radius: 4px;
  padding: 3px;
}

.haveyoucoupan {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  border-radius: 4px;
  padding: 1px;

  background: #2196f3;
}

.ghhh {
  display: flex;
  width: 100%;
  height: 30px;
}

.hfhfhfh:after {
  content: "";
  position: absolute;
  bottom: 162px;
  width: 180px;
  left: 8px;
  right: 0;
  height: 0.5px;
  border-top: 1px solid grey;
  z-index: -1;
}

.aftecongratulation:after {
  content: "";
  position: absolute;
  bottom: 122px;
  width: 285px;
  left: 0;
  right: 0;
  height: 0.5px;
  border-top: 1px solid grey;
  z-index: -1;
}

.khaask:after {
  content: "";
  position: absolute;
  bottom: 87px;
  width: 285px;
  left: 0;
  right: 0;
  height: 0.5px;
  border-top: 1px solid grey;
  z-index: -1;
}

.khaaskssajas:after {
  content: "";
  position: absolute;
  bottom: 46px;
  width: 285px;
  left: 0;
  right: 0;
  height: 0.5px;
  border-top: 1px solid grey;
  z-index: -1;
}

.extrainformation {
  display: block;
  width: 100%;
  height: 40px;
}

.tickmarkfirst {
  display: flex;
  width: 100%;
  height: 30px;
}

.ticketsecond {
  display: flex;
  width: 100%;
  height: 40px;
}

.ticketthird {
  display: flex;
  width: 100%;
  height: 40px;
}

.bookingtopbox {
  width: 700px;
  height: 220px;
  border: 1px solid white;
  margin-top: 80px;
  margin-left: 70px;
  background: #f8f6f6;
  border-radius: 4px;
  clear: right;
}

.flightlogo {
  width: 100%;

  height: 30px;
  display: flex;
}

.bookingunder {
  width: 640px;
  height: 150px;
  border: 1px solid #dad6d6;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  background: #ffffff;
}

.leftsmallbox {
  flex-basis: 20%;
  width: 100%;
  height: 150px;
}
.logoandflightdetails {
  display: flex;
  width: 95%;
  height: 50px;
}

.logosetting {
  flex-basis: 25%;
  width: 100%;
  height: 50px;
}

.textafterlogo {
  flex-basis: 72%;
  width: 100%;
  margin-left: 5px;

  margin-top: 15px;
}

.anotherdetails {
  display: flex;
  width: 95%;
  height: 50px;
}

.anotherdetailslogo {
  flex-basis: 25%;
  width: 100%;
}

.anotherdetailsextra {
  flex-basis: 72%;
  margin-top: 10px;

  width: 100%;

  flex-wrap: wrap;
}

.Gosmart {
  width: 45px;
  height: 15px;
  border: 1px solid black;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 50px;
  display: block;
  background: #eae8e8;
}

.rightbigbox {
  display: flex;
  width: 100%;
  height: 150px;

  margin-left: 50px;
}

.departurestyles {
  flex-basis: 30%;
  width: 100%;
  height: 150px;
}

.departuredetails {
  display: block;
  width: 90%;
  height: 60px;

  margin-top: 20px;
}
.timeofdeparture {
  display: block;
  width: 90%;
  height: 20px;

  margin: "2px 2px";
}

.dateofdeparture {
  display: block;
  width: 90%;
  height: 20px;

  margin-top: 8px;
}

.middlelogo {
  flex-basis: 40%;
  width: 100%;
  height: 150px;
}

.timeofdeparturess {
  display: block;
  width: 90%;
  height: 90px;

  margin-top: 50px;
}

.hdhdhhd {
  display: block;
  width: 90%;
  height: 25px;

  margin-left: 5px;
}

.lastdetails {
  flex-basis: 30%;
  width: 100%;
  height: 150px;

  margin-top: 28px;
}

.travellers {
  width: 700px;
  height: 180px;
  border: 1px solid #eae8e8;
  margin-top: 20px;
  margin-left: 70px;
  background: white;
  border-radius: 4px;
}

.travellersdetails {
  width: 100%;
  height: 35px;

  display: flex;
  background: #f8f6f6;
}

.adult {
  width: 100%;
  height: 18px;

  display: block;
  margin-top: 10px;
}

.travellersform {
  width: 100%;
  height: 70px;

  display: flex;
}

.selectcheckbox {
  flex-basis: 20%;
  width: 90%;
  height: 60px;
  display: block;
}

.afterselecting {
  flex-basis: 40%;
  width: 90%;
  height: 60px;
  margin: 0;
  margin-right: 40px;
}

.inputid {
  padding: 5px;
  width: 90%;
  margin-top: 5px;
  text-align: left;
}

.selectid {
  margin-top: 10px;
}

.afterselectinglastname {
  flex-basis: 40%;
  width: 100%;
  height: 60px;
}

.defaultcheckboxforaddress {
  display: flex;
  width: 100%;
  height: 30px;
}

.justboundary {
  display: block;
  width: 99%;
  height: 100px;
  border: 2px solid #eae8e8;
  margin-left: 5px;
  border-radius: 4px;
}

.Iagreetocondition {
  display: flex;
  width: 700px;
  height: 30px;
  margin-top: 10px;
  background: #ffffff;
  margin-left: 70px;
}

/****************/

.mainpaymentbox {
  display: flex;
  width: 700px;
  height: 350px;

  margin-left: 70px;
  border: 1px solid gray;
  background: "#FFFFFF";
}

.cardsdiv {
  flex-basis: 30%;
  height: 400px;
  width: 100%;
}

.cardmainblockdiv {
  display: block;

  width: 90%;
  height: 380px;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
}

.creditcard {
  display: flex;

  width: 100%;
  height: 30px;
  padding: 5px;
}

.cardinputdiv {
  display: block;

  width: 430px;
  height: 400px;
  margin-left: 20px;
}

.cardinputdivunder {
  display: block;

  width: 390px;
  height: 380px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.expirydates {
  display: flex;

  width: 93%;
  height: 80px;
  margin-top: 20px;
  margin-left: 13px;
}

.expirydatesfirstbox {
  flex-basis: 33%;
  height: 100%;
}

.mainwork {
  display: block;

  width: 100%;
  height: 100%;
}

.mainworkcentre {
  flex-basis: 33%;
  height: 100%;
}

.cvv {
  flex-basis: 33%;
  height: 100%;
}

.cvvmain {
  display: block;

  width: 100%;
  height: 100%;
}

.totalfare {
  display: flex;

  width: 93%;
  height: 40px;
  margin-top: 10px;
  margin-left: 13px;
}

.paymentlogobox {
  display: flex;
  width: 700px;
  margin-left: 70px;
  margin-top: 10px;
  height: 30px;
  background: #f8f6f6;
}

/* .modals {
  width: 350px;
  height: 250px;
  position: absolute;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 250px;
} */
