* {
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}

/* .container {
  width: 100%;
  height: 100vh;
} */
.dropdown {
  width: 260px;
  user-select: none;
  border-radius: 20px;

  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: white;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: rgb(73, 71, 71);
  padding-top: 25px;
  align-items: center;
  cursor: pointer;
  height: 70px;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: black;
  width: 100%;
  height: 160px;
  overflow: scroll;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
#dr {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
