body {
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
}
.flightsMainBody {
  background-color: rgb(238, 238, 238);
  height: 100%;
  width: 100%;
}
.searchDiv {
  height: 100px;
  width: 100%;
  background-color: rgb(33, 150, 243);
  color: rgb(219, 215, 215);
}
.searchDiv > p {
  font-size: 25px;
  padding-top: 25px;
  margin-top: 0px;
}
.bodyDiv {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid grey; */
}
.filterDiv {
  width: 18%;
  border-radius: 5px;
  /* border: 1px solid grey; */
  /* background-color: rgb(255,255,255); */
}
.filterHead {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.filterHead > p:first-child {
  margin-left: 15px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}
.filterHead > p:last-child {
  margin-right: 15px;
  font-size: 11px;
  color: rgb(33, 150, 243);
  margin-top: 10px;
}
.filterDivs {
  width: 100%;
  height: 130px;
  border-top: 1px solid rgb(228, 226, 226);
  background-color: rgb(255, 255, 255);
}
.filterDivs > p:last-child {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 12px;
  color: rgb(51, 51, 51);
}
.filterSubDiv {
  display: flex;

  /* justify-content: space-around; */
}
.filterSubDiv > img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 14px;
  color: rgb(102, 101, 101);
}
.filterSubDiv > p {
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.sliderParent input {
  width: 85%;
  height: 5px;
  outline: none;
  margin-left: 15px;
  /* padding-right: 10px; */
  color: rgb(33, 150, 243);
  background-color: #f3f3f3;
}
.sliderParent {
  position: relative;
}
.bubble {
  position: absolute;
  font-size: 13px;
  /* margin-left: 10px; */
}
.stops {
  display: flex;
  height: 40px;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  /* border: 1px solid black; */
}
.stops input {
  height: 18px;
  width: 18px;
  margin-left: 15px;
  margin-top: 20px;
}
/* .stops p {
    margin-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
} */
.stopsDiv {
  height: 190px !important;
  /* background-color: red; */
}
.flightIcon {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  margin-left: 5px;
}
.flightIconDiv {
  height: 320px !important;
  /* background-color: red; */
}
.rightDiv {
  width: 78%;
  height: 1200px;
  /* border: 1px solid grey; */
}
.calendarSlider {
  height: 60px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
}
.menuItems {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  justify-content: space-between;
  /* margin-top: 15px; */
  align-items: center;
}
.menuItems p:hover {
  cursor: pointer;
}
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  border-radius: 20px;

  /* background-color: red; */
}
.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
  /* margin-top: 10px; */
}
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
}
.toggleSlider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  transition: 0.4s;
  border-radius: 50%;
  background-color: white;
}
.toggleInput:checked + .toggleSlider {
  background-color: rgb(33, 150, 243);
}
.toggleInput:checked + .toggleSlider:before {
  transform: translate(26px);
}
.flightDetailDiv {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 5px rgb(199, 199, 199); */
}
.flightDetailDiv:hover {
  box-shadow: 0px 0px 8px rgb(199, 199, 199);
}
.flightDetails {
  height: 60%;
  margin-bottom: 0px;
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: space-between; */
}
.flightImage {
  width: 120px;
  height: 100%;
  margin-left: 15px;
  margin-right: 0px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
}
.flightImage > img {
  height: 50px;
  width: 50px;
  margin-top: 15px;
}
.flightImage > div > p:first-child {
  font-size: 14px;
  line-height: 0.5cm;
  margin-top: 20px;
}
.flightImage > div > p:last-child {
  font-size: 11px;
  color: rgb(136, 135, 135);
}
.departDetails {
  width: 100px;
  margin-left: 45px;
  /* text-align: center; */
  /* background-color: hotpink; */
  line-height: 0.6cm;
}
.departDetails > p:first-child {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 15px;
}
.departDetails > div:last-child {
  color: rgb(136, 135, 135);
  padding-left: 10px;
}
.durationDetails {
  width: 150px;
  line-height: 0.5cm;
  text-align: center;
  margin-left: 40px;

  /* background-color: indigo; */
}
.durationDetails > p:last-child {
  color: rgb(136, 135, 135);
  font-size: 13px;
  margin-top: 5px;
}
.arriveDetails {
  width: 120px;
  margin-left: 45px;
  text-align: center;
  line-height: 0.6cm;
  /* background-color: khaki; */
}
.arriveDetails > p:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
}
.arriveDetails > p:last-child {
  color: rgb(136, 135, 135);
}
.priceDetails {
  width: 120px;
  /* line-height: 0cm; */
  margin-left: 40px;
  text-align: center;
  /* background-color: lawngreen; */
}
.priceDetails > button {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  margin-top: 0px;
  color: rgb(33, 150, 243);
  background-color: white;
  border: 1px solid rgb(33, 150, 243);
}
.priceDetails > div > img {
  margin-left: 25px;
  width: 14px;
  /* margin-top: 8px; */
  color: rgb(239, 102, 20);
}
.priceDetails > div > p {
  color: rgb(239, 102, 20);
  font-weight: bold;
  font-size: 21px;
  margin-top: 18px;
  margin-bottom: 5px;
}
.bookButton {
  height: 35px;
  width: 130px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  margin-left: 80px;
  margin-top: 20px;
  background-color: rgb(239, 102, 20);
}
.offPriceDiv {
  width: 55%;
  height: 18%;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: rgb(255, 251, 237);
  border-left: 3px solid rgb(239, 220, 156);
}
.offPriceDiv > p {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  margin-left: 5px;
}
.lastDetailDiv {
  width: 100%;
  height: 17%;
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: rgb(249, 249, 249);
}
.lastDetailDiv > p {
  margin-top: 0px;
  margin-left: 15px;
  font-size: 14px;
  color: rgb(33, 150, 243);
}
.lastDetailDiv > p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sliderLeft {
  height: 100%;
  width: 92%;
  display: flex;
  /* border: 1px solid black; */
}
.sliderRight {
  height: 100%;
  width: 8%;

  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(228, 228, 228);
}
.sliderRight > img {
  height: 30px;
  width: 30px;
  /* text-align: center; */
  /* margin-top: 13px; */
  /* margin-left: 10px; */
}
.calenderData {
  display: flex;
}
.calenderData > img {
  height: 12px;
  width: 12px;
  margin-left: 32px;
  margin-top: 18px;
}
.calenderData > p {
  color: rgb(239, 102, 20);
  line-height: 0cm;
  margin-top: 25px;
  font-size: 14px;
}
